* {
    position: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #174a81;
    background: linear-gradient(332deg, rgba(23,74,129,1) 43%, rgba(28,83,203,1) 64%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


main {
    background-color: #1E364F;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.tela {
    color: black;
    font-size:24px;
    font-weight: bold;
    letter-spacing:2px;
    background-color:#fff;
    margin: 5%;
    height: 100px;
    width: 100%;
    padding: 10px 0;

 
}

.visor-calculo-completo {
    display: block;
    text-align: right;
    width: 100%;
    height: 30px;
    font-size:16px;
}

.visor-parcial {
    display: block;
    text-align: right;
    max-width: 100%;
    height: 50px;
    font-size:36px;
    flex-wrap: wrap;
}


.teclado {
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(5, 1fr);
    width: 15rem;
    gap:5px;
    margin: 5%; 
}

.teclado :first-child {
    background-color: #FF0000;
}

.teclado :first-child:hover {
    color: #d70000;
    border: #d70000;
    background-color: #ffdddd;
}

.teclado :last-child {
    background-color: rgb(0,128,0);
}

.teclado :last-child:hover {
    color: #008000;
    border: #008000;
    background-color: #ccffc4;
}

button {
    padding: 15px;
    border: none;
    font-size: 1.5rem;
}

button:hover {
    background-color: #ccc;
    
}